<a href="https://colab.research.google.com/github/AravindReddy123/Aravind_INFO5731_Spring2023/blob/main/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here
string = "Python Programming"
print(len(string))

18

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
# write your answer here
string = "google.com"
d={}
for i in range(0,len(string)):
    if(string[i] in d):
        d[string[i]] = d.get(string[i]) + 1
    else:
        d[string[i]] = 1
sorted_items = sorted(d.items(),key=lambda x:x[1],reverse =True)
print(dict(sorted_items))

{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [3]:
# write your answer here
sample_list = [1,2,3,4,5]
temp_sum = 0
for i in range(0,len(sample_list)):
    temp_sum = temp_sum + sample_list[i]
print(temp_sum)

15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [4]:
# write your answer here
string = "restart"
for i in range(0,len(string)-1):
    for j in range(i+1,len(string)):
        if(string[i] == string[j]):
            string = string[:j] + string[j:].replace(string[i],'$')
print(string)

resta$$

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [5]:
# write your answer here
a = input()
a = int(a)

b = input()
b = int(b)
def my_func(a,b):
    temp1 = 1 + (a/b)
    temp1 = pow(temp1,3)
    temp1 = 3.14 * temp1
    return temp1

my_func(a,b)

3
2

49.0625

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [6]:
# write your answer here
dic1 = {'1':10,'2':20}
dic2 = {'3':30,'4':40}
dic3 = {'5':50,'6':60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{'1': 10, '2': 20, '3': 30, '4': 40, '5': 50, '6': 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [7]:
# write your answer here
tuple_test = ("python","medical-diagnosis","AI",5)
print("Enter the element to check in tuple")
str= input()
bool = False
try:
    str = int(str)
except:
    bool = True
if(str in tuple_test):
    print("Element exists")
else:
    print("Element not in tuple")

Enter the element to check in tuple
5
Element exists

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [8]:
# write your answer here
list_new = []
n = int(input("Enter number of elements in a set:"))
for i in range(0,n):
    element = int(input())
    list_new.append(element)
set_new = set(list_new)
print("Maximum elements in the set is",max(set_new))
print("Minimum element in the set is",min(set_new))

Enter number of elements in a set:4
5
4
3
2
Maximum elements in the set is 5
Minimum element in the set is 2

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [9]:
# write your answer here
import random
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386','ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
random.shuffle(studnet_list)
res = []
for i in range(0,len(studnet_list),5):
    res.append(studnet_list[i:i + 5])
print(res)

[['nv0234', 'sa1198', 'ms1500', 'ja0964', 'kg0470'], ['sc1229', 'gn0108', 'ak0956', 'pr0353', 'aos0040'], ['dr0609', 'vb0218', 'sk1313', 'ds0814', 'sk1390'], ['sb1357', 'jl1252', 'vm0377', 'nm0618', 'sk1458'], ['fh0141', 'sg1297', 'ak0934', 'sk1386', 'bg0320'], ['hy0232', 'sm1907', 'av0659', 'kg0569', 'sm1640']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [10]:
# write your answer here
lst = []
dct = {}
n = int(input("Enter the number of elements"))
for i in range(0,n):
    input_ele = int(input())
    lst.append(input_ele)
for i in range (0,n):
    if(lst[i] in dct):
        dct[lst[i]] = dct.get(lst[i]) + 1
    else:
        dct[lst[i]] = 1
dict_keys = dct.keys()
bool = False
for i in dict_keys:
    if(dct.get(i)>1):
        print(dct.get(i))
        bool = True
if(bool == False):
    print("-1")

Enter the number of elements3
1
2
3
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [11]:
# write your answer here
import pandas as pd
year =input()
initial = year + "-01-01"
periods = 52
freq_day = "W-SUN"
  
sundays = pd.date_range(start = initial,
                        periods = periods,
                        freq = freq_day)                        
print(sundays)

2000
DatetimeIndex(['2000-01-02', '2000-01-09', '2000-01-16', '2000-01-23',
               '2000-01-30', '2000-02-06', '2000-02-13', '2000-02-20',
               '2000-02-27', '2000-03-05', '2000-03-12', '2000-03-19',
               '2000-03-26', '2000-04-02', '2000-04-09', '2000-04-16',
               '2000-04-23', '2000-04-30', '2000-05-07', '2000-05-14',
               '2000-05-21', '2000-05-28', '2000-06-04', '2000-06-11',
               '2000-06-18', '2000-06-25', '2000-07-02', '2000-07-09',
               '2000-07-16', '2000-07-23', '2000-07-30', '2000-08-06',
               '2000-08-13', '2000-08-20', '2000-08-27', '2000-09-03',
               '2000-09-10', '2000-09-17', '2000-09-24', '2000-10-01',
               '2000-10-08', '2000-10-15', '2000-10-22', '2000-10-29',
               '2000-11-05', '2000-11-12', '2000-11-19', '2000-11-26',
               '2000-12-03', '2000-12-10', '2000-12-17', '2000-12-24'],
              dtype='datetime64[ns]', freq='W-SUN')